* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  background-color: #403F4C;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}


button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}


.title{
  position: relative;
	text-align: center;
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 100px;
	font-weight: 100;
	/*color: rgba(175, 47, 47, 0.15);*/
  color: #E84855;
}






header{
	margin: 0px auto;
	width: auto;
	padding-top: 100px;
	
}


.shadow{
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
	margin: 130px auto 40px auto;
     min-width: 230px; 
     max-width: 550px; 

}

main {
    position: relative;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
     margin: 0 auto; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
	
}


.myflexInput{
  display: flex;
  border-bottom: 1px solid #dddddd;
}

.arrow{
  display: inline-block;
  width: 90px;
  height: 66px;
  background: #f5f5f5;
}

.arrow_active{
  display: inline-block;
  width: 90px;
  height: 66px;
  background: #f5f5f5;
}

.arrow:before {
  content: '';
  cursor: pointer;
  top: 22px;
  left: 33px;
  height: 17px;
  width: 17px;
  border-bottom: 3px solid rgb(77, 77, 77);
  border-left: 3px solid rgb(77, 77, 77);
  opacity: 0.2;
 transform: rotate(315deg);
  display: block;
  position: absolute;
}


.arrow_active:before {
  content: '';
  cursor: pointer;
  top: 22px;
  left: 33px;
  height: 17px;
  width: 17px;
  border-bottom: 3px solid rgb(77, 77, 77);
  border-left: 3px solid rgb(77, 77, 77);
  opacity: 0.9;
  transform: rotate(315deg);
  display: block;
  position: absolute;
}



.arrow:hover:before{
  content: '';
  cursor: pointer;
  top: 22px;
  left: 33px;
  height: 17px;
  width: 17px;
  opacity: 0;
  border-bottom: 3px solid rgb(77, 77, 77);
  border-left: 3px solid rgb(77, 77, 77);
  opacity: 0.6;
  transform: rotate(315deg);
  display: block;
  position: absolute;
}

.input{
	padding: 16px 16px 16px 16px;
    width: 100%;
    border: none;
    background: rgba(0, 0, 0, 0.003);
	position: relative;
  display: inline-block;
    font-size: 24px;
    color: #999;
    line-height: 1.4em;
    margin: 0;
	
}

.panel{
	padding: 16px 36px 16px 60px;
	border-bottom: 1px solid #dddddd;
  position: relative;
	display: block;
	width: 100%;
  word-break: break-all;
	background: #f5f5f5;
}


.panel label{
	display: inline-block;
	line-height: 1.2em;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 24px;
  background: #f5f5f5;
}




/*Items*/

.items {
  color: #3A3945;
  display: inline-block;
  margin-left: 35px;
}


.items_active{
  display: inline-block;
  margin-left: 35px;
  color: #d9d9d9;
  text-decoration: line-through;
}



/*Toggle*/

.container {
  display: block;
  cursor: pointer;
  font-size: 22px;
  background: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  left: 23px;
  height: 35px;
  width: 35px;
  border-radius: 50px;
  border: 1px solid #ccc;
  background: rgba(0, 0, 0, 0.003);
}

/* On mouse-over, add a grey background color */


/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  /*background-color: #4d4d4d;*/
  border-color: #45AB47;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 13px;
  top: 7px;
  width: 8px;
  height: 17px;
  border: solid #45AB47;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
}



/*Footer*/

.Row{
  display: flex;
  justify-content: space-between;
}


footer{
	/*display: flex;*/
  display: relative;
	background: #f5f5f5;
    padding: 8px 30px 8px 30px;
    position: relative;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    /*background: #f5f5f5;*/
    color: #3A3945;
     min-width: 230px; 
     max-width: 550px; 
     margin: 0 auto; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
}

footer span{
	display:inline-block;
	margin: 0 10px 0 10px;
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #777;
    line-height: 1.4em;	
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    background: #f5f5f5;
}


footer .footerEndBig{
  position: absolute;
  width: 530px;
  left: 10px; 
  height: 5px;
  bottom: -5px;
  background: #f5f5f5;
  border: 1px solid #dddddd;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

footer .footerEndLittle{
  position: absolute;
  width: 510px;
  left: 20px; 
  bottom: -10px;
  height: 5px;
  background: #f5f5f5;
  border: 1px solid #dddddd;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

button{
	display:inline-block;
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #777;
    line-height: 1.4em;	
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    background: #f5f5f5;
	padding: 2px 10px 2px 10px;
	
}

.clear:hover{
	padding: 1px 10px 1px 10px;
	border:none;
	text-decoration: underline;
}

button:hover{
	padding: 1px 9px 1px 9px;
	border-radius: 3px;
	border: 1px solid #E84855;
  opacity: 0.5; 
}

.active {
	padding: 1px 9px 1px 9px;
	border-radius: 3px;
	border: 1px solid #E84855;
  opacity: 0.9;
}

.active:hover {
	padding: 1px 9px 1px 9px;
	border-radius: 3px;
	border: 1px solid #E84855;
  opacity: 0.9;
}

.addnote{
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #777;
    line-height: 1.4em;	
    -webkit-font-smoothing: antialiased;
    font-weight: 300;

}



.times{
  position: absolute;
  top: 50%;
  font-size: 31px;
  right: 13px;
  transform: translateY(-50%);
  color: #E84855;
  opacity: 0;
  cursor: pointer;
}


.panel:hover .times{
  opacity: 0.5;
  transition: 0.2s;
}


.panel:hover .times:hover{
  opacity: 0.9;
}